/* Simple CSS Reset */

* {
    margin: 0;
    padding: 0;
    font-family: inherit;
}


/* -------------------- Header ---------------------------- */

.main-nav {
    position: fixed;
    height: 40px;
    width: 100%;
    padding: 4px 15px 2px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    width: 20%;
}

.left-nav-bar {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
}

.nav-link {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.right-nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-subscribe-button {
    background-color: #567b95;
    color: white;
    font-weight: bold;
    padding: 11px 12px 8px;
    border-radius: 5px;
}

.nav-account-button {
    background-color: white;
    border: none;
}


/* -------------------- Main Article ---------------------------- */

.article-header {
    margin-top: 60px;
    text-transform: capitalize;
}

.title {
    margin: auto;
    font-weight: bold;
    width: 40%;
    font-size: 1.2rem;
    font-style: italic;
}

.article-header-image {
    margin: auto;
    margin-top: 35px;
    width: 80%;
}

.article-header-image img {
    width: 100%;
}

.article-image-caption {
    color: #656665;
}

.article-image-caption span {
    color: #555;
    font-size: smaller;
}


/* -------------------- Main Article ---------------------------- */

.main-article-link {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 5%;
}

.main-article {
    width: 40%;
    margin: 2% auto;
    font-size: 1.2rem;
    color: #888;
    line-height: 1.5rem;
}

.article-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2% 0;
}

.article-social {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
}

.content {
    margin-top: 5%;
    color: black;
}

.ny-ad-section {
    margin: 2% auto;
    width: 10%;
    color: lightgrey;
}

.ad-text {
    margin: auto;
    text-align: center;
    font-size: 1rem;
}

.ad-button {
    display: block;
    margin: auto;
    text-decoration: none;
    color: #567b95;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    line-height: 0.9rem;
}


/* -------------------- Illustration ---------------------------- */

.illustration {
    margin: 2% auto;
    width: 75%;
    text-align: left;
}

.illustration-summary {
    color: #656665;
    margin-bottom: 5px;
}

.article-illustration {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 156px 163px 161px 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./img/inflation-illustration-image.png");
}

.illustration-item {
    grid-row: 2;
}

.illustration-item-b {
    grid-row: 4;
}

.illustration hr {
    width: 15%;
    margin-top: 24px;
}

.illustration-authors {
    padding: 10px 0px;
    text-transform: uppercase;
    color: #656665;
}

.article-image  img{
    width: 120%;
    margin-left: -60px;
}

.article-image {
    margin-bottom: 3%;
}